{% if page.previous or page.next %}
  <nav class="pagination">
    {% if page.previous %}
      <a href="{{ page.previous.url | absolute_url }}" class="pagination--pager" title="{{ site.data.ui-text[site.locale].pagination_previous | markdownify | strip_html }}">{{ page.previous.title | default: "Previous" }}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ page.previous.title | default: "Previous" }}</a>
    {% endif %}
    {% if page.next %}
      <a href="{{ page.next.url | absolute_url }}" class="pagination--pager" title="{{ site.data.ui-text[site.locale].pagination_next | markdownify | strip_html }}">{{ page.next.title | default: "Next" }}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ page.next.title | default: "Next" }}</a>
    {% endif %}
  </nav>
{% endif %}
