body {
    font-family: Roboto Light, Arial, Hiragino Sans GB, Microsoft Yahei;
}

#preview {
    width: 950px;
    color: #000000;
    line-height: 29px;
    letter-spacing: 0.2px;
    margin-left: auto;
    margin-right: auto;
}

ul li a {
    text-decoration: none;
    color: #000000;
}

#preview ul li {
    font-size: 16px;
}

#preview h1 {
    font-size: 20px;
    font-weight: bold;
    color: #41d9d1;
    font-family: Microsoft Yahei;
    border-style: solid;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-color: #f0f0f0;
    line-height: 45px;
    border-bottom-width: 1px;
    letter-spacing: 3px;
}

#preview h2 {
    font-size: 18px;
    color: #66aeed;
    font-weight: bold;
    font-family: Microsoft Yahei;
    letter-spacing: 2px;
    line-height: 50px;
    padding-top: 10px !important;
    padding-bottom:10px !important;
}

#preview h3 {
    font-size: 17px;
    font-weight: bold;
    color: #787878;
    font-family: Microsoft Yahei;
}

#preview h4 {
    font-size: 16px;
    color: #333333;
    font-family: Microsoft Yahei;
    font-weight: bold;
}

#preview p {
    font-size: 16px;
}

