---
# Only the main Sass file needs front matter (the dashes are enough)
---

@font-face {
  font-family: Hiragino Sans GB;
  src: local("Hiragino Sans GB"),
       url(/assets/fonts/HiraginoSansGBW3.ttf) format('truetype'),
}

@font-face {
  font-family: Roboto;
  src: local("Roboto"),
       url(/assets/fonts/Roboto-Regular.ttf) format('truetype'),
}

@font-face {
  font-family: PragmataPro;
  src: local("PragmataPro"),
       url(/assets/fonts/PragmataPro.ttf) format('truetype'),
}






@charset "utf-8";

//-------- 背景色

$background-color: #f7f7f7 !default;

//------ 字体大小






/* system typefaces */
$serif: Georgia, Times, serif !default;
$sans-serif: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", "Hiragino Sans GB", Microsoft YaHei, Arial, sans-serif !default;
$monospace: "PragmataPro", Monaco, Consolas, "Lucida Console", monospace !default;

/* sans serif typefaces */
$sans-serif-narrow: $sans-serif !default;
$helvetica: Helvetica, "Helvetica Neue", Arial, sans-serif !default;

/* serif typefaces */
$georgia: Georgia, serif !default;
$times: Times, serif !default;
$bodoni: "Bodoni MT", serif !default;
$calisto: "Calisto MT", serif !default;
$garamond: Garamond, serif !default;

$global-font-family: $sans-serif !default;
$header-font-family: "Roboto", Segoe UI, Helvetica Neue, Lucida Grande, "Microsoft YaHei" !default;
$caption-font-family: $serif !default;








@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials








/*
$doc-font-size: 16 !default;

$type-size-1: 1.5em;
$type-size-2: 1.3em;
$type-size-3: 1.03em;
$type-size-4: 1.0em;
$type-size-5: 0.9em;
$type-size-6: 0.85em;
$type-size-7: 0.8em;
$type-size-8: 0.7em;

$type-size-body: 0.8em;
$type-size-code: 1em;


$type-size-h1: 1.8em;
$type-size-h2: 1.5em;
$type-size-h3: 1.3em;
$type-size-h4: 1.1em;
$type-size-h5: 0.9em;
$type-size-h6: 0.8em;
*/



$doc-font-size: 16 !default;

$type-size-1: 1.5rem;
$type-size-2: 1.3rem;
$type-size-3: 1.03rem;
$type-size-4: 1.0rem;
$type-size-5: 0.9rem;
$type-size-6: 0.85rem;
$type-size-7: 0.8rem;
$type-size-8: 0.7rem;

$type-size-body: 0.8rem;
$type-size-code: 0.8rem;


$type-size-h1: 1.8rem;
$type-size-h2: 1.5rem;
$type-size-h3: 1.3rem;
$type-size-h4: 1.1rem;
$type-size-h5: 0.9rem;
$type-size-h6: 0.8rem;


























//------  菜单

// 网站标题
#site-nav a.site-title {
    display: block;
    margin: 0 1rem;
    padding: 0.5rem 0;
    color: #86c6d0;
    text-decoration: none;
	font-size: 1.3rem;
    letter-spacing: 0.2rem;
}

#site-nav ul.visible-links li.masthead__menu-item
{
	font-family: Roboto, Hiragino Sans GB;
}



#site-nav ul.visible-links li.masthead__menu-item a,
.greedy-nav .visible-links a,
{
    position: relative;
    font-size: 0.8rem;
    color: #018868;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
}




//------   标题

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, p.notice--success a {
	text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
    letter-spacing: 0.1rem;
    font-family: Roboto, Microsoft Yahei;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: 0.1rem;
}

h1 {
	font-size: $type-size-h1;
	color: #d1d1d1;
 	padding-bottom: 1.0rem !important;
}

h2,
.page__content h2 {
	font-size: $type-size-h2;
	color: #bccdd6;
	margin-bottom: 4rem;
	margin-top: 4rem;
	border: none !important;
}

h3 {
	font-size: $type-size-h3;
	color: #9ab5c4;
	margin-bottom: 4rem;
	margin-top: 4rem;
	padding-top: 0em !important;
	padding-bottom: 1.5rem !important;
	border-bottom: 1px solid #97c8d1;
}

h3.author__name {
	padding : none;
	border : none;
}

h4 {
	font-size: $type-size-h4;
	color: #65bfe6;
	padding-top: 1rem !important;
 	padding-bottom: 2.3rem !important;
}

h4.nav__title {
	padding-top: 1rem !important;
    padding-bottom: 1.7rem !important;
	font-weight: normal;
}

h5 {
	font-size: $type-size-h5;
	color: #3e738f;
	padding-top: 0em !important;
	padding-bottom: 1.2rem !important;
}

h6 {
	font-size: $type-size-h6;
	color: #032c42;
    padding-top: 0em !important;
	padding-bottom: 1.4rem !important;
}

//-------------- 标题中的代码

h2 code.highlighter-rouge,
h3 code.highlighter-rouge,
h4 code.highlighter-rouge,
h5 code.highlighter-rouge,
h6 code.highlighter-rouge {
    background-color: #e0f5ff;
    font-family: PragmataPro;
    border-radius: 5px;
}

h2 code::before, h2 code::after,
h3 code::before, h3 code::after,
h4 code::before, h4 code::after,
h5 code::before, h5 code::after,
h6 code::before, h6 code::after {
    letter-spacing: 0.2rem;
    content: "\00a0";
}














//------  正文

li ol li,
section.page__content ul,
section.page__content p,
section.page__content ol li,
section.page__content ul li,
section.page__content ul li p,
section.page__content ul li ul li {
    color: #757575;
	font-size: $type-size-body;
    font-family: Roboto, Hiragino Sans GB;
    letter-spacing: 0.03rem;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
	line-height: 1.45rem;
}

section.page__content p strong,
ul li strong
 {
    color: #6d6d6d;
    font-family: Roboto, Microsoft YaHei;
    text-transform: none;
}



/* 引用 */
section.page__content blockquote p {
	font-style: normal;
    font-family: Roboto, Hiragino Sans GB;
    font-size: 0.9rem;
    line-height: 1.45rem;
}

section.page__content blockquote {
    border-bottom-width: 0;
    border-color: #91dff7;
    border-left-width: 1px;
    border-right-width: 0;
    border-style: solid;
    border-top-width: 0;
    font-size: $type-size-body;
}
















// 博文列表

h2.archive__item-title {
	font-family: Roboto, Microsoft YaHei;
	padding-top: 1.0rem !important;
	padding-bottom: 1.2rem !important;
	font-size: $type-size-5;
	margin : 0 0 0 0;
	font-weight: bold;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

h2.archive__item-title a {
	color: #018868;
}

// 博文节选
div.archive div.list__item article p {
	margin-top: 0;
    font-size: .8rem;
    line-height: 1.45rem;
    color: #7d7d7d;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
}








//------ 代码

//--- 段落中代码
p code.highlighter-rouge,
table tbody tr td code.highlighter-rouge,
div.page__inner-wrap section.page__content ul li code {
    background-color: #0000000c !important;
	border-radius: 4px;
    color: #333333;
    font-family: PragmataPro, Hiragino Sans GB;
    font-size: $type-size-code;
    font-weight: normal;
    text-shadow: none;
	padding-top: 0.1rem;
    padding-bottom: 0.1rem;

	&:before,
    &:after {
      letter-spacing: -0.2rem;
      content: "\00a0";
    }
}


// 代码区块
pre.highlight {
    line-height: 1.3rem;
}

pre.highlight code {
    color: #949494;
}














//------  列表

/*  左侧导航栏  */
div.sidebar.sticky nav ul li {
    font-family: "Roboto",Segoe UI,Helvetica Neue,Lucida Grande,"Hiragino Sans GB",Microsoft YaHei,sans-serif;
    font-size: .8rem;
    line-height: 2rem;
    font-weight: 300;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
}

/*  导航栏小标题  */
.nav__sub-title {
    display: block;
    padding: 0.5rem 0;
    font-family: "Roboto",Segoe UI,Helvetica Neue,Lucida Grande,"Microsoft YaHei",sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: none;
}

nav.nav__list {
    margin-bottom: 20px;
    margin-top: 30px;
}













//------ 重要提示

p.notice {
    background-color: #e6e6e6;
	text-shadow: none;
}

p.notice--success {
    background-color: #d0f5e0;
	text-shadow: none;
}

p.notice--info {
    background-color: #e3f5ff;
	text-shadow: none;
}

p.notice--primary {
    background-color: #c9c9c9;
	text-shadow: none;
}

p.notice--warning {
    background-color: #f5ecd0;
	text-shadow: none;
}

p.notice--danger {
    background-color: #f5d0d0;
	text-shadow: none;
}




//------ 表格

tbody tr td {
    color: #757575;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
}

tr td strong {
    color: #2864bd;
}




//------  底部

div.page__footer-follow ul li strong {
	color: #fff;
}

span.nb {
    color: #08ff9c;
}









//----------------  标签页

div.initial-content div#main article div section div ul li a {
	text-decoration: none;
}









//----------  每页下部  关联博文标题

div.initial-content div#main div.page__related div div.grid__item article h2 a {
font-size: 0.8rem;
font-weight: normal;
color: #616161;
}
